@{
    Layout = "~/Views/Shared/_LayoutMaterialize.cshtml";
}



@*<div>
    @using (Html.BeginForm("TwitterAuth", "Home", FormMethod.Get))
    {
        <button type="submit">Login with Twitter</button>

    }
</div>
    *@

@*<p style="text-align:justify">
    Level 3 Industries has 24 years of experience in textile manufacturing, yarn to fabric. This includes extensive experience in both hospitality and residential fabrication.
</p>
<p style="text-align:justify">
    Level 3 is a partnership between two well established companies and for the first time a production facility and
    a fabric mil, have joined forces to cut out the middle man. We like to call it factory direct, from weaving loom to your customer's windows.
</p>*@



<div class="row">
    <div class="col s8 offset-s2">
        <div class="slider">
            <ul class="slides">
                <li>
                 <a href="http://localhost:55873/Users/Index"><img src="~/Content/Home/HomeLevel3.jpg"> </a>  <!-- random image -->
                    <div class="caption center-align">
                        <h3 style="">LEVEL 3 INDUSTRIES</h3>
                        <h5 class ="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div>
                </li>
                <li>
                    <img src="~/Content/Home/HomeDraperyPanels.jpg"> <!-- random image -->
                    <div class="caption center-align">
                        <h3 style="font-weight:bold; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; ">Dapery Panels</h3>
                    </div>
                </li>
                <li>
                    <img src="~/Content/Home/HomeRomanShades.jpg"> <!-- random image -->
                    <div class="caption center-align">
                        <h3 style="font-weight:bold; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Roman Shades</h3>
                    </div>
                </li>
                <li>
                    <img src="~/Content/Home/HomeBedding.jpg"> <!-- random image -->
                    <div class="caption right-align">
                        <h3 style="font-weight:bold; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Bedding</h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<br /> <br /> <br /> <br />



<div class="parallax-container">
    <div class="parallax"><img src="~/Content/Parallax/Roller-Shade-White.jpg"></div>
</div>
